* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family:'Inclusive Sans', sans-serif;
    margin-top: 24px;
    color: coral;
}

h2,
input,
textarea,
button {
    font-family: 'Poppins', sans-serif;
    color: brown;    
}

.container {
    margin: 80px;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;  
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
}

button {
    background-color: coral;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

form textarea {
    resize: none;
}

.success-mensage {
    font-family: 'Poppins', sans-serif;
    background-color: coral;
    padding: 18px;
    color: #fff;
    display: none;
}

.error-message {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(236, 67, 5);
    padding: 12px;
    color: #fff;
    margin-bottom: 8px;
    display: none;
}
